---
import Layout from "../../layouts/BlogPost.astro";
import { getAllBlogs, getBlogDetail } from "../../library/microcms";
import pkg from 'microcms-richedit-processer';
const { processer } = pkg;
import ogs from 'open-graph-scraper';
import { unfurl } from 'unfurl.js';

// 生成する記事のIDを全て取得
export async function getStaticPaths() {
  // const response = await getAllBlogs({ fields: ["id"] });
  const response = await getAllBlogs();
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);

const urls = blog.content.match(/(?<=<(p|br)>)(http.*?)(?=<(\/p|br)>)/g);

const test_url = "https://www.vermilion3.xyz/posts/rfusue_cv/";

const test_ogp = await unfurl(test_url);

for (const url of Object.keys(urls)) {
  async ()=>{
  result = await unfurl(url);
  const regexp = new RegExp(`(?<=<(p|br)>)${url}(?=<(\/p|br)>)`,"g");
  rp_str = `<a href=${result.open_graph.url} target: "_blank" rel: "noopener nofollow"><div><img src=${result.open_graph.images.url} alt="" /></div><div><p>${result.open_graph.title && result.open_graph.title}</p><div><p>${result.open_graph.description && result.open_graph.description}</p></div></div></a>`;
  blog.content = blog.content.replace(regexp,rp_str);
  }
}
---

<Layout content={{
    title: blog.title,
    description: '',
    heroImage: blog.eyecatch?.url ?? '',
    pubDate: new Date(blog.publishedAt).toLocaleDateString('ja-JP'),
    updatedDate: new Date(blog.updatedAt).toLocaleDateString('ja-JP'),
}}>
  <main set:html={processer(blog.content, { img: { parameters: { fm: 'webp' } } })} />
  <div>{JSON.stringify(test_ogp)}</div>
  <div id="test"></div>
  <div>{JSON.stringify(urls)}</div>
</Layout>
<script>
import { unfurl } from 'unfurl.js';
  const test_url = "https://www.vermilion3.xyz/posts/rfusue_cv/";

const test_ogp2 = unfurl(test_url);
document.getElementById("test").innerHTML=JSON.stringify(test_ogp2);
</script>
<script>
  import "lazysizes";
</script>